<div class="login">
  <div class="login__container row shadow">
    <div
      class="login__left col-md-5 d-flex flex-column justify-content-center align-items-center"
    >
      <h1>Hello, Friend!</h1>
      <p class="text-center">
        Enter your personal details and start jounery with us.
      </p>
      <button class="btn btn-outline-light" type="button">Sign Up</button>
    </div>
    <form
      class="login__right col-md-7 d-flex flex-column justify-content-center align-items-center"
    >
      <h2 class="mb-5">Sign in to Task Manager</h2>
      <div class="mb-3 w-100">
        <label for="exampleFormControlInput1" class="form-label"
          >Email address</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3 w-100">
        <label for="exampleFormControlInput1" class="form-label"
          >Password</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
        />
      </div>
      <p>Forget Your Password?</p>
      <button class="btn btn-primary w-100 mt-2" disabled type="button">
        <span
          class="spinner-border spinner-border-sm mx-3"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </form>
  </div>
</div>
