<div class="l-navbar" [class.show]="windowWidth >= 768 ? isToggle : !isToggle">
  <nav class="nav">
    <div class="">
      <a href="" class="nav__logo">
        <i class="bx bx-layer nav_logo-icon"></i>
        <span class="nav__logo-name">Task Manager</span>
      </a>

      <div class="nav__list">
        <a href="" class="nav__link active">
          <i class="bx bx-grid-alt nav__icon"></i>
          <span class="nav__name">Dashboard</span>
        </a>

        <a href="" class="nav__link">
          <i class="bx bx-user nav__icon"></i>
          <span class="nav__name">User</span>
        </a>

        <a href="" class="nav__link">
          <i class="bx bx-message-square-detail nav__icon"></i>
          <span class="nav__name">Message</span>
        </a>

        <a href="" class="nav__link">
          <i class="bx bx-bookmark nav__icon"></i>
          <span class="nav__name">Favorities</span>
        </a>

        <a href="" class="nav__link">
          <i class="bx bx-folder nav__icon"></i>
          <span class="nav__name">Data</span>
        </a>

        <a href="" class="nav__link">
          <i class="bx bx-bar-chart-alt-2 nav__icon"></i>
          <span class="nav__name">Analytics</span>
        </a>
      </div>

      <a href="" class="nav__link">
        <i class="bx bx-log-out nav__icon"></i>
        <span class="nav__name">Close</span>
      </a>
    </div>
  </nav>
</div>
